mixin card(img_src, title, subTitle)
  .cards-wrapper__item.item
      .item__circle
        img.cirlce___img(src=img_src, alt="")
      .item__title= title
      .item__sub-title= subTitle
      .item__link
        a.link(href="#")
          |Read more
          img(src="../../images/slick/arrow.svg", alt="")

mixin gallaryCard(img_src, name,size,price)
  img.sl-gal-item__img(src=img_src, alt="sneaker")
  .sl-gal-item__name=name
  .sl-gal-item__size
    | Size:
    span.sl-gal-item__span=size
  .sl-gal-item__price
    | Price:
    span.sl-gal-item__span=price
  +button('Buy now')


mixin testimonialsCard(img_src, title,paragraph,author,role)
  img.sl-test-item__img(src=img_src, alt="avatar")
  img.sl-test-item__apostrof(src="images/testimonials/apostrof.png", alt="")
  .sl-test-item__title=title
  .sl-test-item__paragraph=paragraph
  .sl-test-item__author=author
  .sl-test-item__role=role
