mixin card(img_src, title, subTitle)
  .cards-wrapper__item.item
      .item__circle
        img.cirlce___img(src=img_src, alt="")
      .item__title= title
      .item__sub-title= subTitle
      .item__link
        a.link(href="#")
          |Read more
          img(src="../../images/arrow.svg", alt="")     

mixin gallaryCard(img_src, name,size,price)
  img.sl-gal-item__img(src=img_src, alt="sneaker")
  .sl-gal-item__name=name
  .sl-gal-item__size
    | Size:
    span.sl-gal-item__span=size
  .sl-gal-item__price
    | Price:
    span.sl-gal-item__span=price
  +button('Buy now','large','primary',false)
